<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6 text-center">
                <p>
                    Hello Rust! is a lighthearted live-programming channel about my journey to become a fearless, more effective
                    <a href="https://www.rust-lang.org/">Rust</a> programmer. My goal is to address beginner and intermediate Rust questions and show that systems
                    programming can be
                    <br />a lot of fun!
                </p>
                <p>
                    <b>Fair warning</b>: To follow along, it's best if you already read
                    <a href="https://doc.rust-lang.org/book/">the book</a>, since I won't cover most of the basics in my videos.
                </p>
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>
</section>