<!-- Episodes Section -->
<section id="episodes">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Episodes</h2>
                <h3 class="section-subheading text-muted">Handcrafted by yours truly</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/episodes/0.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Humble Beginnings</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">In this episode I tell you about what I want to achieve with Hello Rust and why I created
                                    this show. I talk about
                                    <a href="https://blog.rust-lang.org/2015/05/15/Rust-1.0.html">Rust 1.0</a>, the
                                    <a href="http://rust.cologne/">Rust Cologne Usergroup</a>, and giving workshops at
                                    <a href="http://www.rust-belt-rust.com/">RustBeltRust</a>.
                                    <a href="https://www.youtube.com/channel/UCZ_EWaQZCZuGGfnuqUoHujw">Play on YouTube</a>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/episodes/1.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Hello Universe!</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Let's get started with actually coding something. We build a hello world application on STEROIDS.
                                    The goal is to show you some idiomatic tricks to handle console output.
                                    <a href="https://www.youtube.com/channel/UCZ_EWaQZCZuGGfnuqUoHujw">Play on YouTube</a>
                                </p>
                                <p>Enums, Traits, Builder Pattern, Testing, Pattern matching</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/episodes/2.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Snakes and Gears</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    One of the first things I was missing in Rust when coming from Python were List Comprehensions. It took me a while to figure
                                    out, that the Rust way - using iter(), filter(), and map() - actually is a better fit
                                    for the language.
                                    <a href="https://youtu.be/bS5rtxWd2yQ">Play on YouTube</a>
                                </p>
                                <p>Iterators, map, filter, Entry API, List comprehensions</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/episodes/3.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Code review
                                    <h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    Today we will do our first code review. I picked a library called repoctl, which is a tool for handling FreeBSD package files
                                    in Rust. The goal is to improve the codebase and make it more robust and idiomatic.
                                    <a href="https://www.youtube.com/watch?v=a6KWRvAPsmo">Play on YouTube</a>
                                </p>
                                <p>Option, Result, Error handling, URL parsing, external crates
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/episodes/4.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Touch Typing Tutor</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    I hack on a small application that will help me get better at touch typing. Not a tutorial, but just a fun hacking session
                                    to build a touch typing application using ggez - a game framework written in Rust.
                                    <a href="https://youtu.be/bS5rtxWd2yQ">Play on YouTube</a>
                                </p>
                                <p>touch typing, application, ggez, event handling, game state, iterators, hacking, live-coding</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <a href="http://github.com/hello-rust/show/">
                            <div class="timeline-image">
                                <h4>Check the
                                    <br>next
                                    <br>Episodes!</h4>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>